Repository DestinyItemManager/DIM, pull requests merged in 2018-11, with the labels that each got.

#3296 More Rank Information
  docs/CHANGELOG.md
  src/app/progress/CrucibleRank.scss
  src/app/progress/CrucibleRank.tsx
Labels: Feature: Progress

#3308 Progress context for prestige percent
  src/app/progress/CrucibleRank.tsx
  src/locale/dim.json
Labels: Feature: Progress

#3307 Expand source search
  docs/CHANGELOG.md
  src/app/inventory/item-types.ts
  src/app/search/filters.html
  src/app/search/search-filters.ts
  src/locale/dim.json
Labels: Feature: Search

#3310 'Fake' Objectives: Objective Tracking for Cache Keys
  src/app/progress/D2SupplementalManifestDefinitions.ts
  src/app/progress/Quest.tsx
  src/app/progress/SupplementalObjectives.ts
Labels: Feature: Progress

#3330 Port D1 Vendors to React
  src/app/d2-vendors/VendorItemComponent.tsx
  src/app/d2-vendors/vendor.scss
  src/app/destiny1/destiny1.module.ts
  src/app/shell/countdown.component.ts
  src/app/shell/scroll-class.directive.ts
  src/app/vendors/D1Vendor.tsx
  src/app/vendors/D1VendorItem.tsx
  src/app/vendors/D1VendorItems.tsx
  src/app/vendors/D1Vendors.tsx
  src/app/vendors/routes.ts
  src/app/vendors/vendor-currencies.component.html
  src/app/vendors/vendor-currencies.component.ts
  src/app/vendors/vendor-item-dialog.html
  src/app/vendors/vendor-item.component.ts
  src/app/vendors/vendor-item.html
  src/app/vendors/vendor-items.component.ts
  src/app/vendors/vendor-items.html
  src/app/vendors/vendor.service.ts
  src/app/vendors/vendors.component.ts
  src/app/vendors/vendors.filters.ts
  src/app/vendors/vendors.html
  src/app/vendors/vendors.module.ts
  src/app/vendors/vendors.scss
Labels: Feature: Vendors

#3357 grunt-crowdin-request update dependencies
  package.json
  src/locale/ko/dim.json
  yarn.lock
Labels: Infrastructure: i18n

#3379 TW is zh-cht not CN
  src/app/i18n.ts
  src/app/manifest/manifest-service.ts
  src/app/move-popup/dimMoveItemProperties.directive.ts
  src/app/settings/SettingsPage.tsx
Labels: Infrastructure: i18n
