Repository DestinyItemManager/DIM, pull requests merged in 2018-10, with the labels that each got.

#3156 Loadout builder
  config/webpack.js
  src/app/character-select/CharacterDropdown.tsx
  src/app/character-select/characterdropdown.scss
  src/app/d2-loadout-builder/LoadoutBuilder.tsx
  src/app/d2-loadout-builder/generated-sets/GeneratedSetButtons.tsx
  src/app/d2-loadout-builder/generated-sets/GeneratedSets.tsx
  src/app/d2-loadout-builder/generated-sets/PlugTooltip.tsx
  src/app/d2-loadout-builder/loadoutbuilder.scss
  src/app/d2-loadout-builder/locked-armor/LoadoutBucketDropTarget.tsx
  src/app/d2-loadout-builder/locked-armor/LockedArmor.tsx
  src/app/d2-loadout-builder/locked-armor/LockedItem.tsx
  src/app/d2-loadout-builder/locked-armor/lockedarmor.scss
  src/app/d2-loadout-builder/locked-armor/lockeditem.scss
  src/app/d2-loadout-builder/locked-armor/popup/ExcludableItem.tsx
  src/app/d2-loadout-builder/locked-armor/popup/LockableItemsTab.tsx
  src/app/d2-loadout-builder/locked-armor/popup/LockablePerksTab.tsx
  src/app/d2-loadout-builder/locked-armor/popup/LockablePopup.tsx
  src/app/d2-loadout-builder/locked-armor/popup/SelectableBungieImage.tsx
  src/app/d2-loadout-builder/process.ts
  src/app/d2-loadout-builder/routes.ts
  src/app/d2-loadout-builder/types.ts
  src/app/d2-loadout-builder/utils.ts
  src/app/inventory/SimpleCharacterTile.tsx
  src/app/loadout/loadout-drawer.tsx
  src/app/routes.ts
  src/app/shell/Header.tsx
  src/global.d.ts
  src/locale/dim.json
Labels: Feature: Loadout Builder

#3184 "or" filters in search
  docs/CHANGELOG.md
  src/app/search/search-filters.ts
Labels: Feature: Search

#3189 Ratings/tags in Loadout Builder, plus visual tweaks
  src/app/d2-loadout-builder/generated-sets/GeneratedSetButtons.tsx
  src/app/d2-loadout-builder/generated-sets/GeneratedSetItem.tsx
  src/app/d2-loadout-builder/generated-sets/GeneratedSets.tsx
  src/app/d2-loadout-builder/loadoutbuilder.scss
  src/app/inventory/ConnectedInventoryItem.tsx
  src/app/inventory/StoreHeading.scss
  src/app/inventory/StoreInventoryItem.tsx
  src/app/inventory/store-types.ts
  src/app/loadout-builder/loadout-builder.component.ts
  src/app/loadout/LoadoutPopup.tsx
  src/app/loadout/loadout-popup.scss
  src/app/loadout/loadout.service.ts
Labels: Feature: Loadout Builder

#3195 Collections
  src/app/bungie-api/destiny2-api.ts
  src/app/collections/Catalysts.tsx
  src/app/collections/Collectible.scss
  src/app/collections/Collectible.tsx
  src/app/collections/Collections.tsx
  src/app/collections/Ornaments.tsx
  src/app/collections/PlugSet.tsx
  src/app/collections/PresentationNode.scss
  src/app/collections/PresentationNode.tsx
  src/app/collections/collectible-popup.html
  src/app/collections/routes.ts
  src/app/d2-loadout-builder/routes.ts
  src/app/d2-vendors/VendorItemComponent.tsx
  src/app/d2-vendors/vendor-ratings.ts
  src/app/d2-vendors/vendor.scss
  src/app/destiny2/d2-definitions.service.ts
  src/app/dim-ui/CollapsibleTitle.scss
  src/app/dim-ui/CollapsibleTitle.tsx
  src/app/inventory/ItemPopupTrigger.tsx
  src/app/vendors/vendors.scss
  src/locale/dim.json
  src/scss/_style.scss
Labels: Feature: Collections

#3258 Add seasons and events to Destiny 2 Items
  docs/CHANGELOG.md
  src/app/inventory/item-types.ts
  src/app/inventory/store/d2-item-factory.service.ts
  src/app/search/filters.html
  src/app/search/search-filters.ts
  src/data/d2-events.json
  src/data/d2-seasons.json
  src/locale/dim.json
Labels: Enhancement, Feature: Search

#3260 Misc loadout builder work
  package.json
  src/app/character-select/CharacterDropdown.tsx
  src/app/character-select/CharacterSelect.tsx
  src/app/character-select/characterdropdown.scss
  src/app/d2-loadout-builder/LoadoutBuilder.tsx
  src/app/d2-loadout-builder/LoadoutBuilderItem.tsx
  src/app/d2-loadout-builder/PerkAutoComplete.tsx
  src/app/d2-loadout-builder/generated-sets/GeneratedSetButtons.tsx
  src/app/d2-loadout-builder/generated-sets/GeneratedSets.tsx
  src/app/d2-loadout-builder/generated-sets/TierSelect.tsx
  src/app/d2-loadout-builder/generated-sets/utils.ts
  src/app/d2-loadout-builder/loadoutbuilder.scss
  src/app/d2-loadout-builder/locked-armor/LoadoutBucketDropTarget.tsx
  src/app/d2-loadout-builder/locked-armor/LockedArmor.tsx
  src/app/d2-loadout-builder/locked-armor/LockedItem.tsx
  src/app/d2-loadout-builder/locked-armor/LockedItemContainer.tsx
  src/app/d2-loadout-builder/locked-armor/lockedarmor.scss
  src/app/d2-loadout-builder/locked-armor/lockeditem.scss
  src/app/d2-loadout-builder/locked-armor/lockeditemcontainer.scss
  src/app/d2-loadout-builder/locked-armor/popup/LockablePerksTab.tsx
  src/app/d2-loadout-builder/locked-armor/popup/LockablePopup.tsx
  src/app/d2-loadout-builder/locked-armor/popup/SelectableBungieImage.tsx
  src/app/d2-loadout-builder/locked-armor/popup/SelectableBurn.tsx
  src/app/d2-loadout-builder/process.ts
  src/app/d2-loadout-builder/types.ts
  src/app/inventory/item-types.ts
  src/app/inventory/store/d2-item-factory.service.ts
  src/app/move-popup/move-popup.scss
  src/data/d2-events.json
  src/data/d2-seasons.json
  src/images/bad.png
  src/images/good.png
  src/images/mobility.png
  src/images/recovery.png
  src/images/resilience.png
  src/locale/dim.json
Labels: Feature: Loadout Builder

#3270 Season search enhancement
  src/app/search/search-filters.ts
Labels: Enhancement, Feature: Search

#3262 Optimize DTR fetching
  src/app/destinyTrackerApi/bulkFetcher.ts
  src/app/destinyTrackerApi/d2-bulkFetcher.ts
  src/app/destinyTrackerApi/d2-itemListBuilder.ts
  src/app/destinyTrackerApi/d2-reviewDataCache.ts
  src/app/item-review/reducer.ts
Labels: Feature: Item Reviews
