Repository DestinyItemManager/DIM, pull requests merged in 2018-12, with the labels that each got.

#3388 Update invite link for crowdin
  docs/TRANSLATIONS.md
  src/views/about.html
Labels: Infrastructure: i18n

#3413 Fix color styling for mass tag dropdown
  src/app/search/search-filter.scss
Labels: Enhancement, Feature: Tags

#3440 [CSV] add masterwork info, season number error handling
  src/app/inventory/dimCsvService.factory.ts
Labels: Feature: CSV Export

#3465 Port item popup container to React
  src/app/collections/Collectible.tsx
  src/app/collections/collectible-popup.html
  src/app/compare/CompareItem.tsx
  src/app/compare/compare.scss
  src/app/d2-vendors/VendorItemComponent.tsx
  src/app/dim-ui/ClickOutside.tsx
  src/app/dim-ui/Sheet.scss
  src/app/dim-ui/Sheet.tsx
  src/app/inventory/ConnectedInventoryItem.tsx
  src/app/inventory/ItemPopupTrigger.tsx
  src/app/inventory/dim-item-info.ts
  src/app/item-popup/ExpandedRating.tsx
  src/app/item-popup/ItemPopupContainer.tsx
  src/app/item-popup/ItemPopupHeader.scss
  src/app/item-popup/ItemPopupHeader.tsx
  src/app/item-popup/LockButton.scss
  src/app/item-popup/LockButton.tsx
  src/app/item-popup/item-popup.ts
  src/app/item-review/reducer.ts
  src/app/loadout/loadout-drawer.scss
  src/app/move-popup/ItemTagSelector.tsx
  src/app/move-popup/Sockets.tsx
  src/app/move-popup/dimMoveItemProperties.directive.ts
  src/app/move-popup/dimMoveItemProperties.html
  src/app/move-popup/dimMovePopup.directive.html
  src/app/move-popup/dimMovePopup.directive.ts
  src/app/move-popup/item-tag.scss
  src/app/move-popup/move-popup.scss
  src/app/move-popup/sockets.scss
  src/app/shell/Destiny.tsx
  src/app/shell/icons/Library.ts
  src/app/vendors/D1VendorItem.tsx
  src/app/vendors/vendor-item-dialog.html
  src/locale/dim.json
Labels: Feature: Item Details Popup

#3471 remove eow from dawning
  src/data/d2-events.json
Labels: Enhancement, Feature: Search

#3480 handle missing season at the item level instead of the search level
  src/app/inventory/dimCsvService.factory.ts
  src/app/inventory/store/d2-item-factory.service.ts
  src/app/search/search-filters.ts
Labels: Feature: Search

#3482 Search events based on source, d2-events.json now supplements this
  src/app/search/search-filters.ts
  src/data/d2-events.json
Labels: Feature: Search
