Repository DestinyItemManager/DIM, pull requests merged in 2018-05, with the labels that each got.

#2793 Activities cleanup
  src/app/activities/activities.component.ts
Labels: Feature: Activities, Feature: D1, Infrastructure: i18n

#2807 Progress: read language from settings
  src/app/progress/milestone.tsx
Labels: Feature: Progress, Feature: Settings, Infrastructure: i18n

#2819 add mars tokens to rep-tokens
  src/app/farming/rep-tokens.ts
Labels: Enhancement, Feature: D2, Feature: Loadouts

#2856 Exporting DIM/DTR rating + # of reviews.
  docs/CHANGELOG.md
  src/app/inventory/dimCsvService.factory.ts
Labels: Feature: CSV Export
