Repository DestinyItemManager/DIM, pull requests merged in 2018-09, with the labels that each got.

#3018 Make search bar a bit more clickable
  src/app/search/search-filter.component.ts
  src/app/search/search-filter.html
  src/app/search/search-filter.scss
  src/app/shell/Header.tsx
  src/app/shell/header.scss
  src/locale/dim.json
Labels: Feature: Search

#3006 Some ratings count more than others
  docs/CHANGELOG.md
  src/app/destinyTrackerApi/d2-perkRater.ts
  src/app/destinyTrackerApi/d2-reviewDataCache.ts
  src/app/destinyTrackerApi/dtr-service-helper.ts
  src/app/inventory/dimStoreItem.directive.html
  src/app/item-review/d2-dtr-api-types.ts
Labels: Feature: Item Reviews

#3071 Forsaken Icon Tiles
  config/webpack.js
  docs/CHANGELOG.md
  src/app/inventory/InventoryItem.scss
  src/app/inventory/InventoryItem.tsx
  src/app/inventory/ItemMod.scss
  src/app/inventory/ItemMod.tsx
  src/app/inventory/ItemRating.scss
  src/app/inventory/ItemRating.tsx
  src/app/inventory/ItemRender.scss
  src/app/inventory/ItemRender.tsx
  src/app/inventory/get-badge-info.ts
  src/app/settings/settings.component.ts
  src/app/settings/settings.ts
  src/global.d.ts
  src/images/exotic-masterwork.png
  src/images/masterwork.png
  src/scss/_style.scss
Labels: Enhancement

#3143 Make it easy to add searches for item categories
  docs/CHANGELOG.md
  src/app/inventory/item-types.ts
  src/app/inventory/store/d1-item-factory.service.ts
  src/app/inventory/store/d2-item-factory.service.ts
  src/app/search/filters.html
  src/app/search/search-filter.component.ts
  src/app/search/search-filters.ts
Labels: Feature: Search
