Repository DestinyItemManager/DIM, pull requests merged in 2018-04, with the labels that each got.

#2726 Add inventory currencies to vendor items
  src/app/activities/activities.html
  src/app/bungie-api/destiny2-api.ts
  src/app/collections/collections.tsx
  src/app/d2-vendors/VendorItemComponent.tsx
  src/app/d2-vendors/single-vendor.tsx
  src/app/d2-vendors/vendor-items.tsx
  src/app/d2-vendors/vendor.scss
  src/app/d2-vendors/vendors.tsx
  src/app/record-books/record-books.html
  src/app/vendors/vendors.scss
  src/scss/_style.scss
Labels: Feature: Vendors

#2728 Fix deleting items you don't have from loadouts.
  src/app/loadout/loadout-drawer.component.ts
  src/app/loadout/loadout-drawer.html
  src/locale/dim.json
Labels: Feature: Loadouts

#2732 Release vendors and collections features
  config/webpack.js
  docs/CHANGELOG.md
  src/app/collections/collections.tsx
  src/app/d2-vendors/single-vendor.tsx
  src/app/d2-vendors/vendor.scss
  src/app/d2-vendors/vendors.tsx
Labels: Feature: Vendors

#2723 Ratings with game modes
  docs/CHANGELOG.md
  src/app/destiny2/d2-definitions.service.ts
  src/app/destinyTrackerApi/d2-bulkFetcher.ts
  src/app/destinyTrackerApi/d2-reviewSubmitter.ts
  src/app/destinyTrackerApi/d2-reviewsFetcher.ts
  src/app/destinyTrackerApi/reviewModesFetcher.ts
  src/app/inventory/store/d2-item-factory.service.ts
  src/app/item-review/destiny-tracker.service.ts
  src/app/item-review/item-review.component.js
  src/app/item-review/item-review.html
  src/app/item-review/item-review.scss
  src/app/item-review/reviewModeTranslator.ts
  src/app/move-popup/dimMoveItemProperties.directive.ts
  src/app/rating-mode/rating-mode.scss
  src/app/rating-mode/rating-mode.tsx
  src/app/settings/settings.component.ts
  src/app/settings/settings.html
  src/app/settings/settings.ts
  src/app/shell/Header.tsx
  src/app/shell/shell.module.ts
  src/locale/dim.json
Labels: Feature: Item Reviews
