Repository DestinyItemManager/DIM, pull requests merged in 2019-01, with the labels that each got.

#3496 Port filter help to its own page
  src/app/search/FilterHelp.scss
  src/app/search/FilterHelp.tsx
  src/app/search/SearchFilter.tsx
  src/app/search/filters.html
  src/app/search/search-filter.scss
  src/app/shell/routes.ts
  src/locale/dim.json
Labels: Feature: Search

#3524 add notes to the ghost csv
  src/app/inventory/dimCsvService.factory.ts
Labels: Bug, Feature: CSV Import/Export

#3528 CSV - wrap id in quotes
  docs/CHANGELOG.md
  src/app/inventory/dimCsvService.factory.ts
Labels: Bug, Feature: CSV Import/Export

#3527 FEAT:SEASON - Extra Season Info
  src/app/inventory/d2-season-info.ts
  src/app/inventory/d2-stores.service.ts
  src/app/inventory/dimCsvService.factory.ts
  src/app/inventory/store/d2-item-factory.service.ts
  src/app/search/search-filters.ts
Labels: Enhancement, Feature: CSV Import/Export, Feature: D2, Feature: Search

#3530 RFC:search - event
  src/app/search/search-filters.ts
Labels: Feature: Search

#3547 FIX:CSV Export
  src/app/inventory/dimCsvService.factory.ts
Labels: Feature: CSV Import/Export

#3548 RFC:Prettier - let prettier do prettier things
  .gitignore
  package.json
  src/app/collections/routes.ts
  src/app/d2-loadout-builder/routes.ts
  src/app/destiny1/routes.lazy.ts
  src/app/manifest/database.ts
  src/app/manifest/manifest-service-json.ts
  src/app/manifest/manifest-service.ts
  src/app/progress/routes.ts
  src/app/settings/routes.ts
  src/app/whats-new/routes.ts
  tslint.json
  yarn.lock
Labels: Infrastructure: Build

#3497 Fix docker-compose file
  docker-compose.yml
Labels: Infrastructure: Build

#3540 FIX:Search - Adjust rating search based off of #3447
  src/app/search/search-filters.ts
Labels: Feature: Item Reviews, Feature: Search

#3565 DOC: Update translation links and translation team members
  README.md
  docs/TRANSLATIONS.md
  src/app/i18n.ts
Labels: Infrastructure: i18n
