Repository DestinyItemManager/DIM, pull requests merged in 2019-09, with the labels that each got.

#4173 fixes & additions
  src/app/collections/PresentationNode.scss
  src/app/collections/PresentationNode.tsx
  src/app/item-popup/ItemPopupHeader.scss
  src/app/progress/CompletionCheckbox.tsx
  src/app/progress/CrucibleRank.scss
  src/app/progress/CrucibleRank.tsx
  src/app/progress/Phase.tsx
  src/app/progress/Progress.tsx
  src/app/progress/RaidDisplay.tsx
  src/app/progress/Ranks.tsx
  src/app/search/SearchFilterInput.tsx
  src/app/search/search-filter.scss
Labels: Enhancement

#4171 Undo tagging
  src/app/notifications/Notification.scss
  src/app/notifications/NotificationButton.tsx
  src/app/search/SearchFilter.tsx
  src/locale/dim.json
Labels: Enhancement, Feature: Tags

#4216 only latinise on latinBased languages
  src/app/search/search-filters.ts
Labels: Feature: Search, Infrastructure: i18n

#4196 harmless cleanup
  src/app/inventory/dimCsvService.factory.ts
  src/app/inventory/store/sockets.ts
  src/app/search/search-filter-hashes.ts
  src/app/search/search-filters.ts
  src/data/d2/source-info.ts
Labels: Feature: Search

#4178 triumph/presentationnode changes
  .vscode/settings.json
  src/app/bungie-api/destiny2-api.ts
  src/app/collections/Catalysts.tsx
  src/app/collections/Collections.tsx
  src/app/collections/Ornaments.tsx
  src/app/collections/PlugSet.tsx
  src/app/collections/PresentationNode.scss
  src/app/collections/PresentationNode.tsx
  src/app/collections/PresentationNodeRoot.tsx
  src/app/collections/Record.scss
  src/app/collections/Record.tsx
  src/app/dim-ui/CollapsibleTitle.scss
  src/app/dim-ui/CollapsibleTitle.tsx
  src/app/settings/reducer.ts
  src/locale/dim.json
Labels: Feature: Collections, Feature: Triumphs

#4235 remove unnecessary context
  src/app/item-popup/ItemPopupHeader.tsx
  src/app/item-popup/LockButton.tsx
  src/app/shell/About.tsx
  src/locale/de/dim.json
  src/locale/dim.json
  src/locale/es-ES/dim.json
  src/locale/es-MX/dim.json
  src/locale/fr/dim.json
  src/locale/it/dim.json
  src/locale/ja/dim.json
  src/locale/ko/dim.json
  src/locale/pl/dim.json
  src/locale/pt-BR/dim.json
  src/locale/ru/dim.json
  src/locale/zh-CN/dim.json
  src/locale/zh-TW/dim.json
Labels: Infrastructure: i18n

#4238 Visualize stat impact of weapon/armor mods
  src/app/item-popup/ItemStat.tsx
  src/app/item-popup/ItemStats.scss
Labels: Feature: Item Details Popup

#4250 countdown t() fix
  src/app/dim-ui/Countdown.tsx
Labels: Infrastructure: i18n

#4236 RFC: i18n housekeeping
  config/i18n.json
  config/webpack.js
  docs/TRANSLATIONS.md
  i18next-scanner.config.js
  package.json
  src/app/bungie-api/bungie-service-helper.ts
  src/app/dim-ui/Countdown.tsx
  src/app/farming/D1Farming.tsx
  src/app/farming/D2Farming.tsx
  src/app/inventory/item-move-service.ts
  src/app/loadout/loadout.service.ts
  src/app/loadout/postmaster.ts
  yarn.lock
Labels: Infrastructure: i18n

#4266 vault has no house
  src/app/bungie-api/bungie-service-helper.ts
  src/app/farming/D1Farming.tsx
  src/app/farming/D2Farming.tsx
  src/app/inventory/item-move-service.ts
  src/app/loadout/loadout.service.ts
  src/app/loadout/postmaster.ts
Labels: Bug, Infrastructure: i18n

#4268 release schedule update
  config/i18n.json
  src/locale/dim.json
Labels: Infrastructure: Build, Infrastructure: i18n

#4309 If DTR returns a 503 to us, cool down on making further requests for …
  src/app/destinyTrackerApi/dtr-service-helper.ts
  src/app/utils/exceptions.ts
Labels: Feature: Item Reviews
