Repository DestinyItemManager/DIM, pull requests merged in 2019-11, with the labels that each got.

#4641 update contributing with new i18n workflow
  docs/CONTRIBUTING.md
  docs/TRANSLATIONS.md
Labels: Infrastructure: i18n

#4687 Loadout optimizer, now with locked mods
  config/i18n.json
  src/app/collections/Mods.tsx
  src/app/inventory/store/sockets.ts
  src/app/loadout-builder/LoadoutBuilder.tsx
  src/app/loadout-builder/LockArmorAndPerks.tsx
  src/app/loadout-builder/LockedItem.tsx
  src/app/loadout-builder/PerkPicker.tsx
  src/app/loadout-builder/PerksForBucket.tsx
  src/app/loadout-builder/generated-sets/utils.ts
  src/app/loadout-builder/locked-armor/SelectableBungieImage.tsx
  src/app/loadout-builder/process.ts
  src/app/loadout-builder/types.ts
  src/app/search/search-filters.ts
  src/locale/dim.json
Labels: Feature: Loadout Optimizer

#4726 Loadout Optimizer: Incorporate mod stats
  config/i18n.json
  src/app/loadout-builder/LoadoutBuilder.tsx
  src/app/loadout-builder/generated-sets/GeneratedSetItem.tsx
  src/app/loadout-builder/process.ts
  src/locale/dim.json
Labels: Feature: Loadout Optimizer

#4732 i18next-scanner fix for optional chaining/genderName
  src/app/bungie-api/bungie-service-helper.ts
  src/app/farming/D1Farming.tsx
  src/app/farming/D2Farming.tsx
  src/app/inventory/MoveNotifications.tsx
  src/app/inventory/item-move-service.ts
  src/app/inventory/store-types.ts
  src/app/inventory/store/d1-store-factory.ts
  src/app/inventory/store/d2-store-factory.ts
  src/app/loadout/loadout-apply.ts
  src/app/loadout/postmaster.ts
Labels: Bug, Infrastructure: i18n
