Repository DestinyItemManager/DIM, pull requests merged in 2019-06, with the labels that each got.

#3884 add crown of sorrows and menagerie source searches
  src/app/search/FilterHelp.tsx
  src/app/search/search-filters.ts
  src/locale/dim.json
Labels: Feature: Search

#3885 move source info to JSON
  .vscode/settings.json
  src/app/search/search-filters.ts
  src/data/d2-sources.json
Labels: Feature: Search

#3896 Progress revamp
  docs/CHANGELOG.md
  src/app/bungie-api/destiny2-api.ts
  src/app/collections/PresentationNode.scss
  src/app/collections/Record.scss
  src/app/d2-loadout-builder/LoadoutBuilder.tsx
  src/app/d2-vendors/VendorItemComponent.tsx
  src/app/d2-vendors/Vendors.m.scss
  src/app/d2-vendors/Vendors.m.scss.d.ts
  src/app/d2-vendors/Vendors.tsx
  src/app/d2-vendors/VendorsMenu.tsx
  src/app/d2-vendors/d2-vendors.ts
  src/app/dim-ui/PageWithMenu.m.scss
  src/app/dim-ui/PageWithMenu.m.scss.d.ts
  src/app/dim-ui/PageWithMenu.tsx
  src/app/inventory/item-types.ts
  src/app/inventory/store/d2-item-factory.service.ts
  src/app/item-popup/ItemDescription.tsx
  src/app/item-popup/ItemDetails.tsx
  src/app/item-popup/ItemExpiration.tsx
  src/app/item-popup/ItemObjectives.scss
  src/app/item-popup/item-popup.ts
  src/app/progress/AvailableQuest.tsx
  src/app/progress/Faction.tsx
  src/app/progress/Milestone.tsx
  src/app/progress/Progress.tsx
  src/app/progress/Pursuit.tsx
  src/app/progress/milestone.scss
  src/app/progress/progress.scss
  src/app/search/search-filters.ts
  src/locale/dim.json
Labels: Enhancement, Feature: Progress

#3920 Add info for Shadowkeep, update D2CurrentSeason
  src/app/inventory/d2-season-info.ts
Labels: Feature: Search

#3919 Display shader icon in item details popup
  docs/CHANGELOG.md
  src/app/item-popup/ItemDetails.tsx
  src/app/item-popup/ItemPopupContainer.scss
Labels: Enhancement, Feature: Item Details Popup

#3947 remove is:curated as alias for is:wishlist
  docs/CHANGELOG.md
  src/app/search/FilterHelp.tsx
  src/app/search/search-filters.ts
Labels: Feature: Wish List

#3946 remove curated range search
  src/app/search/search-filters.ts
Labels: Enhancement, Feature: Wish List
