Repository DestinyItemManager/DIM, pull requests merged in 2019-02, with the labels that each got.

#3593 Add option to include armor bonuses from mods in loadout builder.
  src/app/d2-loadout-builder/LoadoutBuilder.tsx
  src/app/d2-loadout-builder/generated-sets/GeneratedSets.tsx
  src/locale/dim.json
Labels: Feature: Loadout Builder

#3599 Show compare button in search if results are comparable
  docs/CHANGELOG.md
  src/app/compare/Compare.tsx
  src/app/compare/compare.service.ts
  src/app/inventory/ItemPopupTrigger.tsx
  src/app/item-popup/ItemPopupHeader.tsx
  src/app/search/SearchFilter.tsx
  src/app/search/SearchFilterInput.tsx
  src/locale/dim.json
Labels: Feature: Search

#3600 Loadout builder -- now with slightly better mobile styling!
  src/app/character-select/characterdropdown.scss
  src/app/d2-loadout-builder/generated-sets/GeneratedSets.tsx
  src/app/d2-loadout-builder/generated-sets/TierSelect.tsx
  src/app/d2-loadout-builder/loadoutbuilder.scss
  src/app/d2-loadout-builder/locked-armor/LockedItemContainer.tsx
  src/app/d2-loadout-builder/locked-armor/lockedarmor.scss
  src/app/d2-loadout-builder/locked-armor/lockeditemcontainer.scss
  src/app/d2-loadout-builder/locked-armor/popup/SelectableBungieImage.tsx
  src/app/dim-ui/BungieImage.tsx
  src/app/dim-ui/BungieImageAndAmmo.scss
  src/app/dim-ui/BungieImageAndAmmo.tsx
  src/app/item-popup/ItemSockets.tsx
  src/app/loadout/loadout-popup.scss
Labels: Feature: Loadout Builder

#3616 remove newline from beginning of translatable string
  src/app/d2-loadout-builder/locked-armor/popup/SelectableBungieImage.tsx
  src/locale/de/dim.json
  src/locale/dim.json
  src/locale/es-ES/dim.json
  src/locale/es-MX/dim.json
  src/locale/fr/dim.json
  src/locale/it/dim.json
  src/locale/ja/dim.json
  src/locale/ko/dim.json
  src/locale/pl/dim.json
  src/locale/pt-BR/dim.json
  src/locale/ru/dim.json
  src/locale/zh-CN/dim.json
  src/locale/zh-TW/dim.json
Labels: Infrastructure: i18n

#3619 Fix Max Light Styling
  src/app/loadout/loadout-popup.scss
Labels: Feature: Loadouts
