Repository DestinyItemManager/DIM, pull requests merged in 2019-07, with the labels that each got.

#3952 is:curated search
  docs/CHANGELOG.md
  src/app/search/search-filters.ts
Labels: Feature: Search

#3958 supplement season data with source
  src/app/inventory/item-types.ts
  src/app/inventory/store/d2-item-factory.service.ts
  src/data/d2-seasonToSource.json
  src/data/d2-seasons.json
Labels: Feature: Search

#3957 golf scoring for drawtime & chargetime
  docs/CHANGELOG.md
  src/app/compare/Compare.tsx
  src/app/compare/CompareStat.tsx
  src/app/item-popup/ItemStats.tsx
Labels: Enhancement, Feature: Item Comparison

#3945 perkname search
  docs/CHANGELOG.md
  src/app/search/FilterHelp.tsx
  src/app/search/SearchFilterInput.tsx
  src/app/search/search-filters.ts
Labels: Enhancement, Feature: Search

#3913 switch to mkcert
  .gitignore
  config/webpack.js
  package.json
  yarn.lock
Labels: Enhancement, Infrastructure: Build

#3921 Raid milestones
  src/app/item-popup/ItemObjectives.scss
  src/app/progress/Phase.tsx
  src/app/progress/Progress.tsx
  src/app/progress/Raid.tsx
  src/app/progress/RaidDisplay.tsx
  src/app/progress/milestone.scss
Labels: Feature: D2, Feature: Progress

#3980 Compact timers for Progress page bounties
  docs/CHANGELOG.md
  src/app/dim-ui/Countdown.tsx
  src/app/item-popup/ItemExpiration.tsx
  src/app/progress/Pursuit.tsx
  src/app/progress/Quest.tsx
  src/app/progress/milestone.scss
  src/locale/dim.json
Labels: Feature: Progress

#3978 Upload new content in two phases
  Gruntfile.js
Labels: Infrastructure: Build

#3979 Use an alias to access destiny-icons
  build/travis_build.sh
  config/webpack.js
  src/app/d2-loadout-builder/generated-sets/TierSelect.m.scss
  src/app/inventory/StoreBucket.tsx
  src/app/item-popup/ItemPopupContainer.scss
  src/app/progress/ObjectiveDescription.tsx
  tsconfig.json
  tslint.json
Labels: Infrastructure: Build

#3972 notes in "keyword" search
  src/app/search/FilterHelp.tsx
  src/app/search/SearchFilterInput.tsx
  src/app/search/search-filters.ts
Labels: Feature: Search

#3977 Break out Progress into components per section
  src/app/progress/CrucibleRank.scss
  src/app/progress/Factions.tsx
  src/app/progress/Milestones.tsx
  src/app/progress/Progress.tsx
  src/app/progress/Pursuits.tsx
  src/app/progress/Raids.tsx
  src/app/progress/Ranks.tsx
  src/app/progress/progress.scss
  src/app/progress/progress.service.ts
Labels: Feature: Progress

#4007 Progress bars, badges/seals, tracked triumph
  docs/CHANGELOG.md
  src/app/bungie-api/destiny2-api.ts
  src/app/collections/Collections.tsx
  src/app/collections/PresentationNode.scss
  src/app/collections/PresentationNodeRoot.tsx
  src/app/collections/Record.scss
  src/app/collections/Record.tsx
  src/app/item-popup/ItemDetails.tsx
  src/app/item-popup/ItemObjectives.tsx
  src/app/item-popup/ItemSockets.tsx
  src/app/progress/Progress.tsx
  src/app/progress/Pursuit.tsx
  src/app/progress/PursuitItem.tsx
  src/app/progress/Pursuits.tsx
  src/app/progress/milestone.scss
Labels: Feature: Progress

#4010 is:curated needed more null checks
  src/app/search/search-filters.ts
Labels: Feature: Search
