Repository DestinyItemManager/DIM, pull requests merged in 2019-03, with the labels that each got.

#3623 Season 5 Update
  src/app/inventory/d2-season-info.ts
  src/app/inventory/d2-stores.service.ts
  src/app/inventory/store/d2-item-factory.service.ts
  src/data/d2-seasons.json
Labels: Enhancement, Feature: Search

#3624 filter out exotic ornaments from lb
  docs/CHANGELOG.md
  src/app/d2-loadout-builder/generated-sets/utils.ts
Labels: Enhancement, Feature: Loadout Builder

#3510 Item reviews in React
  .vscode/extensions.json
  package.json
  src/app/accounts/platform.service.ts
  src/app/compare/Compare.tsx
  src/app/compare/CompareItem.tsx
  src/app/d2-loadout-builder/LoadoutBuilder.tsx
  src/app/d2-vendors/SingleVendor.tsx
  src/app/d2-vendors/Vendor.tsx
  src/app/d2-vendors/Vendors.tsx
  src/app/d2-vendors/vendor-ratings.ts
  src/app/destinyTrackerApi/bulkFetcher.ts
  src/app/destinyTrackerApi/d2-bulkFetcher.ts
  src/app/destinyTrackerApi/d2-itemListBuilder.ts
  src/app/destinyTrackerApi/d2-perkRater.ts
  src/app/destinyTrackerApi/d2-reviewDataCache.ts
  src/app/destinyTrackerApi/d2-reviewReporter.ts
  src/app/destinyTrackerApi/d2-reviewSubmitter.ts
  src/app/destinyTrackerApi/d2-reviewsFetcher.ts
  src/app/destinyTrackerApi/itemListBuilder.ts
  src/app/destinyTrackerApi/perkRater.ts
  src/app/destinyTrackerApi/reviewDataCache.ts
  src/app/destinyTrackerApi/reviewModesFetcher.ts
  src/app/destinyTrackerApi/reviewReporter.ts
  src/app/destinyTrackerApi/reviewSubmitter.ts
  src/app/destinyTrackerApi/reviewsFetcher.ts
  src/app/destinyTrackerApi/util.ts
  src/app/dimApp.module.ts
  src/app/inventory/ConnectedInventoryItem.tsx
  src/app/inventory/d1-stores.service.ts
  src/app/inventory/d2-stores.service.ts
  src/app/inventory/dimCsvService.factory.ts
  src/app/inventory/item-types.ts
  src/app/inventory/reducer.ts
  src/app/inventory/store/d2-item-factory.service.ts
  src/app/item-popup/ExpandedRating.tsx
  src/app/item-popup/ItemDetails.tsx
  src/app/item-popup/ItemPopupBody.tsx
  src/app/item-popup/ItemSockets.tsx
  src/app/item-popup/ItemTalentGrid.tsx
  src/app/item-review/ItemReview.tsx
  src/app/item-review/ItemReviewSettings.tsx
  src/app/item-review/ItemReviews.tsx
  src/app/item-review/actions.ts
  src/app/item-review/d1-dtr-api-types.ts
  src/app/item-review/d2-dtr-api-types.ts
  src/app/item-review/destiny-tracker.service.ts
  src/app/item-review/dtr-api-types.ts
  src/app/item-review/item-review.component.ts
  src/app/item-review/item-review.html
  src/app/item-review/item-review.module.ts
  src/app/item-review/item-review.scss
  src/app/item-review/reducer.ts
  src/app/loadout-builder/GeneratedSet.tsx
  src/app/search/search-filters.ts
  src/app/shell/star-rating/StarRatingEditor.tsx
  src/app/shell/star-rating/star-rating.scss
  src/app/store/reducers.ts
  src/app/store/store.ts
  src/app/vendors/vendor.service.ts
  yarn.lock
Labels: Feature: Item Reviews

#3636 mobility csv export fix
  docs/CHANGELOG.md
  src/app/inventory/dimCsvService.factory.ts
Labels: Feature: CSV Import/Export

#3638 dtrRating fixes
  src/app/compare/Compare.tsx
  src/app/search/search-filters.ts
Labels: Feature: Item Reviews, Feature: Search

#3652 Loadout creator refresh
  src/app/compare/compare.scss
  src/app/dim-ui/Sheet.scss
  src/app/farming/farming.service.ts
  src/app/infuse/InfusionFinder.scss
  src/app/item-picker/ItemPicker.tsx
  src/app/item-picker/item-picker.ts
  src/app/item-popup/ItemPopupContainer.scss
  src/app/item-popup/ItemPopupContainer.tsx
  src/app/loadout/LoadoutDrawer.tsx
  src/app/loadout/LoadoutDrawerBucket.tsx
  src/app/loadout/LoadoutDrawerContents.tsx
  src/app/loadout/LoadoutDrawerItem.tsx
  src/app/loadout/LoadoutDrawerOptions.tsx
  src/app/loadout/loadout-drawer.scss
  src/app/loadout/loadout.service.ts
  src/app/shell/Header.tsx
  src/images/spartan.png
  src/locale/dim.json
  src/scss/_style.scss
Labels: Feature: Loadouts

#3680 Store/load ratings and reviews to IndexedDB
  docs/CHANGELOG.md
  src/Index.tsx
  src/app/destinyTrackerApi/bulkFetcher.ts
  src/app/destinyTrackerApi/d2-bulkFetcher.ts
  src/app/destinyTrackerApi/d2-itemListBuilder.ts
  src/app/destinyTrackerApi/d2-reviewsFetcher.ts
  src/app/destinyTrackerApi/dtr-service-helper.ts
  src/app/destinyTrackerApi/itemListBuilder.ts
  src/app/destinyTrackerApi/reviewsFetcher.ts
  src/app/item-review/actions.ts
  src/app/item-review/d1-dtr-api-types.ts
  src/app/item-review/d2-dtr-api-types.ts
  src/app/item-review/dtr-api-types.ts
  src/app/item-review/reducer.ts
Labels: Feature: Item Reviews
