Repository DestinyItemManager/DIM, pull requests merged in 2019-10, with the labels that each got.

#4316 Handle system maintenance better in auth
  src/app/bungie-api/authenticated-fetch.ts
  src/app/bungie-api/bungie-service-helper.ts
Labels: Infrastructure: Auth

#4423 Add total stat and update searches
  config/i18n.json
  src/app/inventory/store/stats.ts
  src/app/item-popup/ItemStat.tsx
  src/app/search/FilterHelp.tsx
  src/app/search/search-filter-hashes.ts
  src/app/search/search-filters.ts
  src/locale/dim.json
Labels: Feature: Search

#4475 latinise search predicate
  src/app/search/search-filters.ts
Labels: Feature: Search

#4468 cross platform environment variables
  package.json
  yarn.lock
Labels: Infrastructure: Build

#4520 check for predicate
  src/app/search/search-filters.ts
Labels: Feature: Search

#4525 Improve Loadout Optimizer memory usage
  config/i18n.json
  src/app/_variables.scss
  src/app/dim-ui/ErrorBoundary.scss
  src/app/inventory/MoveNotifications.m.scss
  src/app/item-popup/ItemPopupContainer.scss
  src/app/loadout-builder/LoadoutBuilder.tsx
  src/app/loadout-builder/generated-sets/FilterBuilds.tsx
  src/app/loadout-builder/generated-sets/GeneratedSetItem.tsx
  src/app/loadout-builder/generated-sets/GeneratedSets.m.scss
  src/app/loadout-builder/generated-sets/GeneratedSets.m.scss.d.ts
  src/app/loadout-builder/generated-sets/GeneratedSets.tsx
  src/app/loadout-builder/process.ts
  src/app/main.scss
  src/app/notifications/Notification.scss
  src/app/whats-new/BungieAlerts.scss
  src/locale/dim.json
Labels: Feature: Loadout Optimizer

#4558 lowercase imported CSV tags
  src/app/inventory/spreadsheets.ts
Labels: Feature: CSV Import/Export, Feature: Tags

#4552 Loadout Optimizer improvements
  src/app/loadout-builder/LoadoutBuilder.tsx
  src/app/loadout-builder/LockArmorAndPerks.tsx
  src/app/loadout-builder/generated-sets/FilterBuilds.tsx
  src/app/loadout-builder/generated-sets/GeneratedSetItem.m.scss
  src/app/loadout-builder/generated-sets/utils.ts
  src/app/loadout-builder/process.ts
Labels: Feature: Loadout Optimizer

#4575 fix i18n key typos
  config/i18n.json
  src/app/loadout/loadout.service.ts
  src/app/loadout/postmaster.ts
  src/locale/de/dim.json
  src/locale/dim.json
  src/locale/es-ES/dim.json
  src/locale/es-MX/dim.json
  src/locale/fr/dim.json
  src/locale/it/dim.json
  src/locale/ja/dim.json
  src/locale/ko/dim.json
  src/locale/pl/dim.json
  src/locale/pt-BR/dim.json
  src/locale/ru/dim.json
  src/locale/zh-CN/dim.json
  src/locale/zh-TW/dim.json
Labels: Bug, Infrastructure: i18n

#4593 random loose lint warnings
  src/app/collections/Collections.tsx
  src/app/notifications/Notification.tsx
Labels: Infrastructure: Build
