Repository DestinyItemManager/DIM, pull requests merged in 2019-04, with the labels that each got.

#3697 [ESLint caching] Remove parallel
  build/parallel
  build/set-mtime-to-md5.sh
  build/travis_build.sh
Labels: Infrastructure: Build

#3704 travis xenial
  .travis.yml
Labels: Infrastructure: Build

#3720 Rework curated rolls to persist in IndexedDB and handle new items
  src/Index.tsx
  src/app/curated-rolls/actions.ts
  src/app/curated-rolls/curated-roll-reader.ts
  src/app/curated-rolls/curatedRoll.ts
  src/app/curated-rolls/curatedRollService.ts
  src/app/curated-rolls/reducer.ts
  src/app/inventory/ConnectedInventoryItem.tsx
  src/app/inventory/InventoryItem.tsx
  src/app/item-popup/ItemSockets.tsx
  src/app/item-popup/Plug.tsx
  src/app/search/search-filters.ts
  src/app/shell/rating-mode/RatingMode.tsx
  src/locale/dim.json
Labels: Feature: Wish List

#3753 Vendors revamp
  src/app/character-select/CharacterDropdown.tsx
  src/app/character-select/CharacterSelect.m.scss
  src/app/character-select/CharacterSelect.m.scss.d.ts
  src/app/character-select/CharacterSelect.tsx
  src/app/character-select/characterdropdown.scss
  src/app/collections/Catalysts.tsx
  src/app/collections/Collectible.tsx
  src/app/collections/Collections.tsx
  src/app/collections/Ornaments.tsx
  src/app/collections/collections.scss
  src/app/d2-loadout-builder/LoadoutBuilder.tsx
  src/app/d2-loadout-builder/loadoutbuilder.scss
  src/app/d2-vendors/SingleVendor.m.scss
  src/app/d2-vendors/SingleVendor.m.scss.d.ts
  src/app/d2-vendors/SingleVendor.tsx
  src/app/d2-vendors/Vendor.m.scss
  src/app/d2-vendors/Vendor.m.scss.d.ts
  src/app/d2-vendors/Vendor.tsx
  src/app/d2-vendors/VendorItem.m.scss
  src/app/d2-vendors/VendorItem.m.scss.d.ts
  src/app/d2-vendors/VendorItemComponent.tsx
  src/app/d2-vendors/VendorItems.m.scss
  src/app/d2-vendors/VendorItems.m.scss.d.ts
  src/app/d2-vendors/VendorItems.tsx
  src/app/d2-vendors/Vendors.m.scss
  src/app/d2-vendors/Vendors.m.scss.d.ts
  src/app/d2-vendors/Vendors.tsx
  src/app/d2-vendors/d2-vendors.ts
  src/app/d2-vendors/vendor.scss
  src/app/dim-ui/common.m.scss
  src/app/item-popup/ItemPopupContainer.scss
  src/app/loadout-builder/D1LoadoutBuilder.tsx
  src/app/loadout-builder/loadout-builder.scss
  src/app/progress/Milestone.tsx
  src/app/search/search-filters.ts
  src/app/vendors/D1Vendor.tsx
  src/app/vendors/D1VendorItem.tsx
  src/app/vendors/D1VendorItems.tsx
  src/app/vendors/D1Vendors.m.scss
  src/app/vendors/D1Vendors.m.scss.d.ts
  src/app/vendors/D1Vendors.tsx
  src/app/vendors/vendors.scss
  src/locale/dim.json
Labels: Feature: Vendors
