Repository DestinyItemManager/DIM, pull requests merged in 2020-09, with the labels that each got.

#5706 Include plugset unlocks as "owned"
  src/app/collections/Collectible.tsx
  src/app/inventory/selectors.ts
  src/app/item-popup/ItemDetails.tsx
  src/app/item-popup/item-popup.ts
  src/app/vendors/VendorItemComponent.tsx
  src/app/vendors/Vendors.tsx
  src/app/vendors/d2-vendors.ts
Labels: Feature: Vendors

#5723 Better modslot column
  src/app/dim-ui/BungieImage.tsx
  src/app/dim-ui/SpecialtyModSlotIcon.m.scss
  src/app/dim-ui/SpecialtyModSlotIcon.m.scss.d.ts
  src/app/dim-ui/SpecialtyModSlotIcon.tsx
  src/app/organizer/Columns.tsx
  src/app/organizer/ItemTable.m.scss
  src/app/utils/item-utils.ts
  src/app/utils/util.ts
Labels: Feature: Vault Organizer

#5724 Don't keep the menu open when clearing input
  src/app/search/SearchBar.tsx
Labels: Feature: Search

#5722 On mobile convert collapsible headers to a fixed category strip
  config/webpack.js
  src/app/inventory/Stores.scss
  src/app/inventory/Stores.tsx
  src/global.d.ts
Labels: Feature: Inventory

#5726 Search Triumphs, Collections, and Metrics, Tracked Triumphs
  config/i18n.json
  src/app/collections/Catalysts.tsx
  src/app/collections/Collectible.tsx
  src/app/collections/Collections.tsx
  src/app/collections/Metric.tsx
  src/app/collections/Metrics.tsx
  src/app/collections/PresentationNode.tsx
  src/app/collections/PresentationNodeLeaf.tsx
  src/app/collections/PresentationNodeRoot.tsx
  src/app/collections/PresentationNodeSearchResults.m.scss
  src/app/collections/PresentationNodeSearchResults.m.scss.d.ts
  src/app/collections/PresentationNodeSearchResults.tsx
  src/app/collections/Record.scss
  src/app/collections/Record.tsx
  src/app/collections/presentation-nodes.ts
  src/app/dim-api/dim-api.ts
  src/app/dim-api/reducer.ts
  src/app/dim-api/selectors.ts
  src/app/main.scss
  src/app/progress/Progress.tsx
  src/app/progress/TrackedTriumphs.m.scss
  src/app/progress/TrackedTriumphs.m.scss.d.ts
  src/app/progress/TrackedTriumphs.tsx
  src/app/search/d2-known-values.ts
  src/images/dimTrackedIcon.svg
  src/locale/dim.json
Labels: Feature: Collections, Feature: Progress

#5743 Records styling changes
  src/app/collections/Record.scss
  src/app/collections/Record.tsx
  src/app/collections/collections.scss
  src/app/progress/TrackedTriumphs.tsx
  src/images/dimTrackedIcon.svg
Labels: Feature: Progress

#5742 Replace collections page with "Records"
  config/i18n.json
  src/app/App.tsx
  src/app/collections/Catalysts.tsx
  src/app/collections/Collections.tsx
  src/app/collections/Metrics.tsx
  src/app/collections/PresentationNode.scss
  src/app/collections/PresentationNode.tsx
  src/app/collections/PresentationNodeRoot.tsx
  src/app/collections/PresentationNodeSearchResults.m.scss
  src/app/collections/PresentationNodeSearchResults.tsx
  src/app/collections/presentation-nodes.ts
  src/app/dim-ui/CheckButton.m.scss
  src/app/dim-ui/CheckButton.m.scss.d.ts
  src/app/dim-ui/CheckButton.tsx
  src/app/progress/Progress.tsx
  src/app/search/SearchFilter.tsx
  src/app/shell/Destiny.tsx
  src/app/shell/Header.tsx
  src/app/vendors/Vendors.tsx
  src/locale/dim.json
Labels: Feature: Collections, Feature: Progress

#5739 Add count for number of selected items in Organizer
  src/app/organizer/ItemTable.tsx
Labels: Feature: Vault Organizer

#5801 Experiments in faster moves
  src/app/bungie-api/bungie-service-helper.ts
  src/app/inventory/item-move-service.ts
Labels: Feature: Item Movement
