Repository DestinyItemManager/DIM, pull requests merged in 2020-01, with the labels that each got.

#4854 Attempt to work around https://github.com/Bungie-net/api/issues/1151
  src/app/accounts/destiny-account.ts
  src/app/bungie-api/authenticated-fetch.ts
Labels: Infrastructure: Auth

#4853 Vendorengrams redux
  src/Index.tsx
  src/app/shell/Destiny.tsx
  src/app/shell/Header.tsx
  src/app/store/reducers.ts
  src/app/vendorEngramsXyzApi/actions.ts
  src/app/vendorEngramsXyzApi/reducer.ts
  src/app/vendorEngramsXyzApi/vendorEngramsXyzService.ts
  src/app/vendors/Vendor.tsx
  src/app/vendors/Vendors.tsx
Labels: Feature: Vendors

#4837 Setting for fetching wishlists
  config/i18n.json
  docs/CHANGELOG.md
  package.json
  src/app/settings/WishListSettings.tsx
  src/app/settings/reducer.ts
  src/app/settings/settings.scss
  src/app/shell/Destiny.tsx
  src/app/wishlists/wishlist-fetch.ts
  src/locale/dim.json
  yarn.lock
Labels: Feature: Wish List
