Repository DestinyItemManager/DIM, pull requests merged in 2020-07, with the labels that each got.

#5428 Revert the rest of the height changes from #5253
  src/app/App.m.scss
  src/app/App.m.scss.d.ts
  src/app/App.tsx
  src/app/dim-ui/ClickOutsideRoot.m.scss
  src/app/dim-ui/ClickOutsideRoot.m.scss.d.ts
  src/app/dim-ui/ClickOutsideRoot.tsx
  src/app/dim-ui/PageWithMenu.m.scss
Labels: Feature: Loadout Optimizer

#5425 Ignore minimum stat total filter for locked items.
  src/app/loadout-builder/preProcessFilter.ts
  src/app/loadout-builder/utils.ts
Labels: Feature: Loadout Optimizer

#5412 Accounted for seasonal mods sockets in perk picker mods calculation.
  src/app/loadout-builder/generated-sets/utils.ts
Labels: Feature: Loadout Optimizer

#5423 Handle stat range values and ignored status in the process worker.
  src/app/loadout-builder/LoadoutBuilder.tsx
  src/app/loadout-builder/generated-sets/FilterBuilds.tsx
  src/app/loadout-builder/generated-sets/TierSelect.tsx
  src/app/loadout-builder/hooks/useProcess.ts
  src/app/loadout-builder/processWorker/process.ts
Labels: Feature: Loadout Optimizer

#5499 Reorganize item type selector in Organizer
  src/app/organizer/ItemTypeSelector.tsx
Labels: Feature: Vault Organizer

#5498 Integrate the new query parser
  docs/CHANGELOG.md
  src/app/search/__snapshots__/query-parser.test.ts.snap
  src/app/search/query-parser.ts
  src/app/search/search-filter.ts
Labels: Feature: Search

#5484 Chore/cleanup optimiser functions
  src/app/loadout-builder/generated-sets/GeneratedSet.tsx
  src/app/loadout-builder/generated-sets/GeneratedSetItem.tsx
  src/app/loadout-builder/preProcessFilter.ts
  src/app/loadout-builder/processWorker/process.ts
  src/app/loadout-builder/utils.ts
Labels: Feature: Loadout Optimizer
