Repository DestinyItemManager/DIM, pull requests merged in 2020-05, with the labels that each got.

#5166 Feature/assign mods in LO
  config/i18n.json
  docs/CHANGELOG.md
  src/app/loadout-builder/LoadoutBuilder.tsx
  src/app/loadout-builder/ModPickerFooter.tsx
  src/app/loadout-builder/ModPickerHeader.tsx
  src/app/loadout-builder/generated-sets/GeneratedSet.tsx
  src/app/loadout-builder/generated-sets/GeneratedSetItem.tsx
  src/app/loadout-builder/generated-sets/GeneratedSetItemLockedMods.scss
  src/app/loadout-builder/generated-sets/GeneratedSets.tsx
  src/app/loadout-builder/generated-sets/mod-utils.ts
  src/app/loadout-builder/generated-sets/utils.ts
  src/app/loadout-builder/process.ts
  src/locale/dim.json
Labels: Enhancement, Feature: Loadout Optimizer

#5196 crowdin - do not create branch
  .github/workflows/i18n-bot-download.yml
Labels: Infrastructure: i18n

#5240 Loadouts fixes
  src/app/inventory/StoreBucket.tsx
  src/app/loadout/LoadoutDrawer.tsx
  src/app/loadout/LoadoutDrawerBucket.tsx
  src/app/loadout/LoadoutDrawerItem.tsx
  src/app/loadout/LoadoutDrawerOptions.tsx
  src/app/loadout/loadout-apply.ts
  src/app/loadout/loadout-drawer.scss
  src/app/shell/Header.tsx
Labels: Feature: Loadouts

#5226 have i18n bot create a PR instead of commit directly
  .github/workflows/i18n-bot-download.yml
Labels: Infrastructure: i18n

#5235 Fully deprecate SyncService and legacy data storage
  config/i18n.json
  docs/CHANGELOG.md
  src/Index.tsx
  src/app/App.tsx
  src/app/destinyTrackerApi/userFilter.ts
  src/app/dim-api/actions.ts
  src/app/dim-api/api-permission-prompt.tsx
  src/app/dim-api/import.ts
  src/app/dim-api/reducer.ts
  src/app/inventory/actions.ts
  src/app/inventory/d1-stores.ts
  src/app/inventory/d2-stores.ts
  src/app/inventory/dim-item-info.ts
  src/app/inventory/reducer.ts
  src/app/inventory/selectors.ts
  src/app/loadout/LoadoutDrawer.tsx
  src/app/loadout/LoadoutPopup.tsx
  src/app/loadout/loadout-storage.ts
  src/app/loadout/reducer.ts
  src/app/settings/SettingsPage.tsx
  src/app/settings/Spreadsheets.tsx
  src/app/settings/components.ts
  src/app/settings/reducer.ts
  src/app/settings/settings.ts
  src/app/storage/DimApiSettings.tsx
  src/app/storage/GDriveRevisions.scss
  src/app/storage/GDriveRevisions.tsx
  src/app/storage/GoogleDriveInfo.tsx
  src/app/storage/GoogleDriveSettings.tsx
  src/app/storage/LegacyGoogleDriveSettings.tsx
  src/app/storage/data-stats.ts
  src/app/storage/google-drive-storage.ts
  src/app/storage/indexed-db-storage.ts
  src/app/storage/sync.service.ts
  src/app/store/reducers.ts
  src/locale/dim.json
Labels: Infrastructure: Sync
