Repository DestinyItemManager/DIM, pull requests merged in 2023-04, with the labels that each got.

#9371 Organizer hotkeys
  config/i18n.json
  docs/CHANGELOG.md
  src/app/compare/actions.ts
  src/app/compare/reducer.ts
  src/app/hotkeys/hotkeys.ts
  src/app/item-popup/NotesArea.tsx
  src/app/organizer/ItemActions.m.scss
  src/app/organizer/ItemActions.m.scss.d.ts
  src/app/organizer/ItemActions.tsx
  src/app/organizer/ItemTable.m.scss
  src/app/organizer/ItemTable.tsx
  src/locale/en.json
Labels: Feature: Vault Organizer

#9372 Smart equip for in-game loadouts
  config/i18n.json
  src/app/inventory/MoveNotifications.tsx
  src/app/inventory/item-move-service.ts
  src/app/loadout-drawer/loadout-apply-state.ts
  src/app/loadout-drawer/loadout-apply.ts
  src/app/loadout/ingame/ingame-loadout-apply.ts
  src/locale/en.json
Labels: Feature: Loadouts

#9394 clearer equippedness markings
  src/app/loadout/ingame/InGameLoadoutStrip.m.scss
  src/app/loadout/ingame/InGameLoadoutStrip.m.scss.d.ts
  src/app/loadout/ingame/InGameLoadoutStrip.tsx
Labels: in-game loadouts

#9393 ingame loadout icon fixes and dropdown styling
  src/app/loadout/ingame/InGameLoadoutIcon.m.scss
  src/app/loadout/ingame/InGameLoadoutIcon.m.scss.d.ts
  src/app/loadout/ingame/InGameLoadoutIcon.tsx
  src/app/loadout/ingame/InGameLoadoutStrip.tsx
  src/app/loadout/loadout-menu/LoadoutPopup.m.scss
  src/app/loadout/loadout-menu/LoadoutPopup.m.scss.d.ts
  src/app/loadout/loadout-menu/LoadoutPopup.tsx
Labels: in-game loadouts
